.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--gray-color);
    border-radius: var(--border-radius);
    gap: 10px;
    padding: 15px;

    .date {
        display: flex;
        justify-content: end;
        font: var(--font-s);
        color: var(--text-color-gray);
    }

    .title {
        font: var(--font-xl);
    }

    .desc {
        font: var(--font-s);
    }
}