.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 100px;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        .error {
            font: var(--font-extra);
            color: var(--red-color);
        }

        .title {
            font: var(--font-xl);
        }

        .desc {
            font: var(--font-m);
            color: var(--text-color-gray);
        }

        .link {
            text-decoration: none;
        }
    }
    
}