# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/

# Сборка
dist/
build/
out/
coverage/

# Переменные окружения
.env
.env.local
.env.*.local

# Для Prisma 6 и ниже
prisma/migrations/*[!README.md]
prisma/dev.db
prisma/data.db
prisma/*.sqlite

# IDE
.vscode/tasks.json
.vscode/launch.json

# Docker
.dockerenv