.container {
  display: flex;
  flex-direction: column;
  gap: 20px;


  .content {
    display: grid;
    grid-template-columns: 350px 1fr 350px;
    gap: 20px;

    .profileInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 14px;
      transform: translateY(-70px);
      z-index: 1;


      .username {
        font: var(--font-l);
      }

      .desc {
        font: var(--font-s);
      }

      .stats {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: 100%;
        height: 80px;
        border-radius: var(--border-radius);
        background-color: var(--gray-color);

        .subsInfo {
          display: flex;
          flex-direction: column;
          align-items: center;
          flex: 1;
          padding-right: 20px;
          border-right: 1px solid var(--text-color-gray);

          p {
            font: var(--font-s);
          }
          span {
            font: var(--font-s);
            color: var(--text-color-gray);
          }
        }

        .postsInfo {
          display: flex;
          flex-direction: column;
          align-items: center;
          flex: 1;
          padding-left: 20px;

          p {
            font: var(--font-s);
          }
          span {
            font: var(--font-s);
            color: var(--text-color-gray);
          }
        }
      }

    }
  }
}