.banner {
    position: relative;
    height: 260px;
    border-radius: var(--border-radius);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}