@use '../../../../../app/styles/breakpoints.scss' as breakpoint;

.SectionContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 20px;
  padding: 8px;
  border-radius: var(--border-radius);
  -webkit-box-shadow: 0px 20px 29px -32px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 20px 29px -32px rgba(66, 68, 90, 1);
  box-shadow: 0px 20px 29px -32px rgba(66, 68, 90, 1);
  scroll-margin-top: 120px;

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    span {
      font: var(--font-m);
      color: var(--primary-color);
    }

    h2 {
      font: var(--font-xxl);

      @media (max-width: breakpoint.$bp-md) {
        font: var(--font-l);
      }
    }
  }

  .cards {
    display: flex;
    align-items: stretch;
    width: 100%;
    gap: 25px;

    .card {
      flex: 1;
      max-height: 600px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      text-align: start;
      gap: 20px;
      box-sizing: border-box;

      img {
        width: 100%;
        height: 260px;
        object-fit: cover;
        border-radius: var(--border-radius);
      }

      .step {
        font: var(--font-m);
        color: var(--primary-color);
      }

      .cardTitle {
        font: var(--font-l);
      }

      .cardDesc {
        font: var(--font-m);
        color: var(--text-color-gray);
        flex-grow: 1;

        // clamp fix
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
    }
  }


  @media (max-width: breakpoint.$bp-md) {
    padding: 12px;
    gap: 16px;

    .cards {
      flex-wrap: wrap;
      gap: 16px;

      .card {
        flex: 1 1 calc(50% - 8px); 
        max-height: none;

        img {
          height: 220px;
        }

        .cardTitle {
          font: var(--font-m);
        }
      }
    }
  }

  @media (max-width: breakpoint.$bp-sm-plus) {
    .cards {
      .card {
        img {
          height: 200px;
        }
      }
    }
  }

  @media (max-width: breakpoint.$bp-sm) {
    scroll-margin-top: 90px;

    .title {
      gap: 6px;
      h2 {
        text-align: center;
      }
    }

    .cards {
      flex-direction: column;
      gap: 14px;

      .card {
        flex: 1 1 100%;
        gap: 12px;

        img {
          height: 180px;
        }

        .cardDesc {
          -webkit-line-clamp: 4;
        }
      }
    }
  }
}
