@use '../../../../../app/styles/breakpoints.scss' as breakpoint;

.statsContainer {
    display: flex;
    width: 100%;
    height: auto;
    scroll-margin-top: 400px;

    .stats {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            .title {
                font: var(--font-xl);

                @media (max-width: breakpoint.$bp-sm) {
                    font: var(--font-m);
                }
            }

            .desc {
                font: var(--font-m);
                color: var(--text-color-gray);
                
                @media (max-width: breakpoint.$bp-sm) {
                    font: var(--font-s);
                }
            }
        }
    }
}