@import 'clear.scss';
@import 'variables.scss';
@import 'animation.scss';

html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable both-edges;
}

body {
    background: var(--bg-color-white);
    color: var(--text-color-black);
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--bg-color-lightGray);
  border-radius: var(--border-radius);
}

