.cardContainer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
    word-break: break-all;
    gap: 10px;
    padding: 10px;
    border: 1px solid var(--gray-color);
    border-radius: var(--border-radius);


    .cardHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .btn {
            display: flex;
            justify-content: end;    
        }
        .title {
            font: var(--font-m);
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .price {
            font: var(--font-s);
            background: var(--bg-color-gray);
            width: fit-content;
            border-radius: var(--border-radius);
            padding: 4px;
        }

        .desc {
            font: var(--font-s);
            color: var(--text-color-gray);
            white-space: pre-wrap;
            word-break: break-word;
            overflow-wrap: anywhere;
            min-width: 0;
        }
    }   
}