.container {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .textArea {
    width: 100%;
    height: 100px;
    min-height: 100px;
    max-height: 200px;
    font: var(--font-s);
    border-radius: var(--border-radius);
    padding: 10px;
    outline: none;
    border: 1px solid var(--gray-color);
    resize: vertical;

    transition: all 0.2s ease;

    &:focus {
      border: 1px solid var(--primary-color);
    }
  }

  .textAreaError {
    border-color: var(--red-color);
  }

  .errorText {
    color: var(--red-color);
    font: var(--font-m);
  }
}
