.container {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--gray-color);
  border-radius: var(--border-radius);
  padding: 40px;
  -webkit-box-shadow: 0px 20px 29px -32px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 20px 29px -32px rgba(66, 68, 90, 1);
  box-shadow: 0px 20px 29px -32px rgba(66, 68, 90, 1);
  scroll-margin-top: 120px;

  .logo {
    font: var(--font-xxl);
    background-image: linear-gradient(var(--accent-color), var(--primary-color));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;

    h3 {
      color: var(--primary-color);
    }

    p {
      font: var(--font-m);
      color: var(--text-color-gray);
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
  }

  .navigate {
    display: flex;
    gap: 10px;
    justify-content: center;

    font: var(--font-m);

    .link {
      color: var(--blue-color);
      text-decoration: none;
    }
  }
}

