.root {
  position: relative;
}

.trigger {
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.menuItems {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 24px;
  gap: 10px;
  position: absolute;
  top: 1;
  right: 0;
  background: var(--bg-color-white);
  border-radius: var(--border-radius);
  padding: 6px 10px;
  outline: none;
  -webkit-box-shadow: 0px 3px 10px -1px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 3px 10px -1px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 3px 10px -1px rgba(34, 60, 80, 0.2);
  z-index: 1000;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.hr {
  width: 100%;
  color: var(--text-color);
}
