@use '../../../../../app/styles/breakpoints.scss' as breakpoint;

.featuresContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 30px;
    scroll-margin-top: 120px;

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        span {
            font: var(--font-m);
            color: var(--primary-color);
        }
        h1 {
            font: var(--font-xxl);

            @media (max-width: breakpoint.$bp-md) {
                font: var(--font-l);
            }
        }
    }

    .cardsContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        @media (max-width: breakpoint.$bp-sm-plus) {
            grid-template-columns: 1fr;
        }
      

        .card {
            display: flex;
            flex-direction: column;
            text-align: start;
            width: 100%;
            height: auto;
            border-radius: var(--border-radius);
            padding: 35px;
            gap: 10px;
            -webkit-box-shadow: 0px 0px 8px -5px rgba(66, 68, 90, 1);
            -moz-box-shadow: 0px 0px 8px -5px rgba(66, 68, 90, 1);
            box-shadow: 0px 0px 8px -5px rgba(66, 68, 90, 1);

            .cardTitle {
                font: var(--font-l);

                @media (max-width: breakpoint.$bp-md) {
                    font: var(--font-m);
                }
            }
            .cardDesc {
                font: var(--font-m);
                color: var(--text-color-gray);

                @media (max-width: breakpoint.$bp-md) {
                    font: var(--font-s);
                }
            }
         
            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }
}